p:first-child span:first-child {
    text-decoration: underline;
}

p:first-child span:nth-child(2), p:first-child span:nth-child(3) {
    text-decoration: line-through;
}

p:first-child span:nth-child(4) {
    font-weight: bold;
}

p:nth-child(3) span:first-child {
    font-weight: bold;
}

p:nth-child(3) span:nth-child(2) {
    text-decoration: underline;
}

p:nth-child(3) span:nth-child(3) {
    color: yellow;
}

p:nth-child(4) span:first-child {
    text-decoration: underline;
}

p:nth-child(4) span:nth-child(2) {
    font-weight: bold;
}

p:nth-child(4) span:nth-child(3) {
    text-decoration: underline;
}

p:nth-child(4) span:nth-child(4) {
    font-style: italic;
}

p:nth-child(4) span:nth-child(5) {
    color: green;
}

body {
    background-color: rgb(157, 202, 244);
}